/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #020617;
}

.signup-container {
  position: relative;
  isolation: isolate;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.signup-card {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 420px;
  background: rgba(7, 18, 48, 0.52);
  border: 1px solid rgba(191, 219, 254, 0.24);
  backdrop-filter: blur(18px);
  border-radius: 24px;
  padding: 40px;
  box-shadow: 0 24px 70px rgba(0, 0, 0, 0.34);
}

.signup-header {
  text-align: center;
  margin-bottom: 30px;
}

.signup-header h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.signup-header p {
  color: #cbd5e1;
  margin-top: 8px;
  font-size: 14px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  color: #e2e8f0;
  margin-bottom: 8px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid transparent;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 15px;
  transition: 0.3s ease;
}

.input-group input::placeholder {
  color: #94a3b8;
}

.input-group input:focus {
  border-color: #3b82f6;
  background: rgba(255, 255, 255, 0.15);
}

.signup-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(to right, #2563eb, #0554dc);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.signup-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(59, 130, 246, 0.4);
  background: blue
}

@media (max-width: 480px) {
  .signup-card {
    padding: 30px 20px;
  }

  .signup-header h1 {
    font-size: 1.7rem;
  }
} */
